<!DOCTYPE html>
<html>
<head>
  <title>Zone protégée de l'application</title>
</head>
<body>

	<h1>Voici la zone protégée de l'application</h1>

	<p>Bienvenue dans l'application de test ;)</p>

</body>
</html>

