<!DOCTYPE html>
<html>
<head>
  <title>Création d'un nouveau compte</title>
</head>
<body>

<% if @error.nil? %>
	<p class="not_error">Veuillez remplir le formulaire ci dessous. Tous les champs sont obligatoires.</p>
<% else %>
	<p class="error">Une erreur est survenue. Veuillez remplir de nouveau le formulaire. </p>
<% end %>

<h1>Formulaire de création</h1>

<form action="/users" method="post">
  <div class="field">
    <label for="session_login">Nom d'utilisateur</label> <br />

    <input id="session_login" name="login" size="40" type="text" />
	<p> Le login est obligatoire et doit contenir entre 4 et 40 caractères sans aucun caractères spéciaux </p>
  </div>
  <div class="field">
    <label for="session_password">Mot de passe</label><br />
    <input id="session_password" name="password" size="30" type="password" />
  </div>
  <div class="field">
  	<label for="session_password">Confirmer le mot de passe</label><br />
    <input id="session_password_confirmation" name="password_confirmation" size="30" type="password" />
  </div>
  <input type="hidden" name="origin" value="<%= params['origin'] %>" />
  <input type="hidden" name="nameapp" value="<%= params['nameapp'] %>" />
  <div class="actions">
    <input name="commit" type="submit" value="M'inscrire" />

  </div>
</form>

</body>
</html>

