<!DOCTYPE html>
<html>
<head>
  <title>User page</title>
</head>
<body>
	<p>Bonjour <%= @user %> </p>

	<% if @app %>
		<p> Vous êtes administrateur de <%= @app_name %> d'URL <%= @app_url %> </p>
	<% end %>
	
</body>
</html>
